.App {
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.App-header {
  font-size: 28px;
  font-weight: 800;
  margin: 40px 0;
}

.minerEmoji {
  display: block;
  font-size: 80px;
  margin-bottom: 12px;
}

.buttonBar {
  margin-top: 20px;
}

.buttonBar button {
  margin-right: 8px;
}

.logoutButton {
  border-top: 1px solid #757575;
  margin-top: 48px;
  padding-top: 20px;
}

.serverConnectionInfo {
  margin-top: 48px;
  text-align: left;
}

.statusCircle {
  border-radius: 100%;
  border: 1px solid;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 2px;
  padding: 5px;
  position: relative;
  top: 1px;
}

.statusCircle.green {
  background-color: #50cf62;
  border-color: #27c23d;
}

.statusCircle.red {
  background-color: #f65b55;
  border-color: #f3382e;
}