.App {
  text-align: center;
}

.App-header {
  font-size: 28px;
  font-weight: 800;
  margin: 40px 0;
}

.minerEmoji {
  display: block;
  font-size: 80px;
  margin-bottom: 12px;
}

.buttonBar {
  margin-top: 20px;
}

.buttonBar button {
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
}

.loginButton {
  margin-top: 12px;
}
