.loader {
  font-size: 36px;
  margin-top: 36px;
  animation: picking 1s infinite;
}

@keyframes picking {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
